-can_see_portraits?
javascript:
	$(document).ready(function() {
		$(".fancybox").fancybox({
			openEffect	: 'none',
			closeEffect	:	'none'
		});
	});

-@portraits.each do |portrait|
	= link_to image_tag(portrait.attachment_url(:thumb)), portrait.attachment_url, :class=>"fancybox", :rel => 'gallery1'
